<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
</head>
<body>
    <h1>All Shows</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
        {% for show in all_shows %}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date|date:"SHORT_DATE_FORMAT"}}</td>
            <td>
                <a href="/shows/{{show.id}}">Show</a>
                <a href="/shows/{{show.id}}/edit">Edit</a>
                <form action="/shows/{{show.id}}/destroy" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/shows/new">Add a New Show</a>
</body>
</html>