<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/shows/create" method="POST">
        {% csrf_token %}
        Title: <input type="text" name="title">
        Network: <input type="text" name="network">
        Release Date: <input type="date" name="release_date">
        Description: <input type="text" name="description">
        <input type="submit" value="Create">
    </form>
</body>
</html>